<%inherit file="master.html" />

<%def name="content()">
	
	<div id="header" class="container">
		<h1>Brainiac</h1>
		<h2>Convert freeform text into structured data</h2>
	</div>
	
	<form id="input" method="post" class="container">
		<textarea id="q" name="q" class="bordered">${ q }</textarea>
		<input type="submit" id="go" class="bordered" value="Magic" />
	</form>
	<p id="multi-line">For multiple lines, press Shift + Enter</p>
	
	% if results:
	<div id="result">
	
		<div id="api-result">
			<h3>API Data</h3>
			<pre>${ json_results | h }</pre>
		</div>
		
	</div>
	% endif
	
	<div id="examples" class="container">
		<h2>Try These.</h2>
		
		<div class="container">
			<div class="example names">
				<h3>Names</h3>
				<ul>
					<li><a href="#">Mr Ryan W. Vennell Esq</a></li>
					<li><a href="#">Jordan Ambra</a></li>
					<li><a href="#">Cpl Ryan George Bob Steve Vennell</a></li>
				</ul>
			</div>
			
			<div class="example dates">
				<h3>Dates</h3>
				<ul>
					<li><a href="#">March 31st, 2005</a></li>
					<li><a href="#">1/1/2001</a></li>
					<li><a href="#">Yesterday</a></li>
					<li><a href="#">Next week</a></li>
				</ul>
			</div>
			
			<div class="example equations">
				<h3>Math Equations</h3>
				<ul>
					<li><a href="#">5 x 5</a></li>
					<li><a href="#">The square root of 169</a></li>
					<li><a href="#">2 + 2</a></li>
				</ul>
			</div>
		</div>
		
		<div class="container">
			<div class="example urls">
				<h3>URLs and Emails</h3>
				<ul>
					<li><a href="#">http://www.google.com/</a></li>
					<li><a href="#">youtube.com</a></li>
					<li><a href="#">me@example.com</a></li>
					<li><a href="#">192.168.1.1</a></li>
				</ul>
			</div>
			
			<div class="example phone">
				<h3>Phone Numbers</h3>
				<ul>
					<li><a href="#">1-800-555-2582</a></li>
					<li><a href="#">+44 (013) 33-44-122</a></li>
					<li><a href="#">me@example.com</a></li>
				</ul>
			</div>
			
			<div class="example numbers">
				<h3>Other Numbers</h3>
				<ul>
					<li><a href="#">-1,884.05</a></li>
					<li><a href="#">MMDCXLVI</a></li>
					<li><a href="#">0xDEADBEEF</a></li>
				</ul>
			</div>
			
		</div>

		<div class="container">			
			<div class="example places">
				<h3>Places</h3>
				<ul>
					<li><a href="#">2443 Hickory Hill Road, Oxford, PA 19363</a></li>
					<li><a href="#">The Lincoln Memorial</a></li>
					<li><a href="#">Earth</a></li>
				</ul>
			</div>

			<div class="example measurement">
				<h3>Measurement</h3>
				<ul>
					<li><a href="#">900 &deg;C</a></li>
					<li><a href="#">54 square miles</a></li>
					<li><a href="#">12 parsecs</a></li>
					<li><a href="#">400 gallons of gas</a></li>
				</ul>
			</div>
			
			<div class="example programming">
				<h3>Programming/Code</h3>
				<ul>
					<li><a href="#">for ($x = 0; $x < count($bleh); $i++) $i = x;</a></li>
					<li><a href="#">if len(myArr) in xrange(2,4):
    self.myStuff += (5 * len(myArr))</a></li>
					<li><a href="#">def inherit c = Object, *a, &b
  c = c.class unless Class === c</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</%def>